{
  "extends": [
    "airbnb",
    "react-app",
    "plugin:prettier/recommended",
    "plugin:import/errors",
    "plugin:import/typescript",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["react", "import", "@typescript-eslint", "react-hooks"],
  "rules": {
    "no-debugger": 2,
    "no-alert": 2,
    "no-console": 2,
    "react/destructuring-assignment": 0,
    "no-underscore-dangle": 0,
    "react/jsx-one-expression-per-line": 0,
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "styled-components",
            "message": "Please import from styled-components/macro."
          }
        ],
        "patterns": ["!styled-components/macro"]
      }
    ],
    "react/jsx-props-no-spreading": 0,
    "react/state-in-constructor": 0,
    "react/jsx-curly-newline": 0,
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelComponents": ["Label"],
        "labelAttributes": ["label"],
        "controlComponents": ["Input", "StyledInput"],
        "depth": 3
      }
    ],
    "no-param-reassign": [
      "error",
      { "props": true, "ignorePropertyModificationsFor": ["state", "draftState"] }
    ],
    "react/jsx-filename-extension": [1, { "extensions": [".tsx", ".jsx"] }],
    "@typescript-eslint/explicit-function-return-type": ["off"],
    "@typescript-eslint/no-empty-function": ["off"],
    "@typescript-eslint/no-non-null-assertion": ["off"],
    "import/prefer-default-export": ["off"],
    "@typescript-eslint/no-empty-interface": ["off"],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "ignorePackages": true,
        "pattern": {
          "ts": "never",
          "tsx": "never",
          "jsx": "never",
          "js": "never"
        }
      }
    ]
  },
  "settings": {
    "import/extensions": [".js", ".jsx", ".ts", ".tsx"]
  },
  "overrides": [
    {
      // enable the rule specifically for TypeScript files
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "react/prop-types": "off",
        "@typescript-eslint/explicit-function-return-type": ["off"]
      }
    }
  ]
}
