{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "node",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "es6": true,
    "node": true,
    "mongo": true
  },
  "rules": {
    "comma-dangle": ["error", "always-multiline"],
    "no-unused-vars": ["warn"],
    "no-var": ["off"],
    "one-var": ["off"],
    "import/no-commonjs": "off",
    "import/no-nodejs-modules": "off",
    "indent": ["warn", 2],
    "quotes": ["error", "single"],
    "max-len": ["error", { "code": 100 }],
    "semi": ["error", "always"],
    "import/prefer-default-export": ["off"],
    "import/no-namespace": ["off"],
    "@typescript-eslint/interface-name-prefix": ["off"],
    "@typescript-eslint/explicit-function-return-type": ["off"],
    "@typescript-eslint/no-empty-interface": ["off"],
    "@typescript-eslint/no-non-null-assertion": ["off"]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".ts"]
      }
    }
  }
}
